<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--名称空间设置成RoleDao的全类名-->
<mapper namespace="com.mutongyyds.mapper.HouseMapper">
    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        select id,community_id,name,description,total_price,unit_price,build_area,inside_area,house_type_id,floor_id,build_structure_id,direction_id,decoration_id,house_use_id,elevator_ratio,listing_date,last_trade_date,status,create_time,update_time,is_deleted
    </sql>
    <sql id="findPageWhere">
        <where>
            <if test="communityId != null and communityId != ''">
                and community_id = #{communityId}
            </if>
            <if test="name != null and name != ''">
                and name like CONCAT('%',#{name},'%')
            </if>
            <if test="houseTypeId != null and houseTypeId != ''">
                and house_type_id = #{houseTypeId}
            </if>
            <if test="floorId != null and floorId != ''">
                and floor_id = #{floorId}
            </if>
            <if test="buildStructureId != null and buildStructureId != ''">
                and build_structure_id = #{buildStructureId}
            </if>
            <if test="directionId != null and directionId != ''">
                and direction_id = #{directionId}
            </if>
            <if test="decorationId != null and decorationId != ''">
                and decoration_id = #{decorationId}
            </if>
            <if test="houseUseId != null and houseUseId != ''">
                and house_use_id = #{houseUseId}
            </if>
            and is_deleted = 0
        </where>
    </sql>

    <select id="findPage" resultType="House">
        <include refid="columns" />
        from hse_house
        <include refid="findPageWhere"/>
    </select>

    <select id="getById" resultType="House">
        <include refid="columns" />
        from hse_house
        where
        id = #{id}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into hse_house (
        community_id ,
        name ,
        description ,
        total_price ,
        unit_price ,
        build_area ,
        inside_area ,
        house_type_id ,
        floor_id ,
        build_structure_id ,
        direction_id ,
        decoration_id ,
        house_use_id ,
        elevator_ratio ,
        listing_date ,
        last_trade_date
        ) values (
        #{communityId} ,
        #{name} ,
        #{description} ,
        #{totalPrice} ,
        #{unitPrice} ,
        #{buildArea} ,
        #{insideArea} ,
        #{houseTypeId} ,
        #{floorId} ,
        #{buildStructureId} ,
        #{directionId} ,
        #{decorationId} ,
        #{houseUseId} ,
        #{elevatorRatio} ,
        #{listingDate} ,
        #{lastTradeDate}
        )
    </insert>

    <update id="publish">
        update hse_house set status=#{status} where id=#{houseId}
    </update>

    <update id="update">
        update hse_house
        <set>
            <if test="communityId!=null and communityId!=''">
                community_Id=#{communityId},
            </if>
            <if test="name!=null and name!=''">
                name=#{name},
            </if>
            <if test="description!=null and description!=''">
                description=#{description},
            </if>
            <if test="totalPrice!=null and totalPrice!=''">
                total_Price=#{totalPrice},
            </if>
            <if test="unitPrice!=null and unitPrice!=''">
                unit_Price=#{unitPrice},
            </if>
            <if test="buildArea!=null and buildArea!=''">
                build_Area=#{buildArea},
            </if>
            <if test="insideArea!=null and insideArea!=''">
                inside_Area=#{insideArea},
            </if>
            <if test="houseTypeId!=null and houseTypeId!=''">
                house_Type_Id=#{houseTypeId},
            </if>
            <if test="floorId!=null and floorId!=''">
                floor_Id=#{floorId},
            </if>
            <if test="buildStructureId!=null and buildStructureId!=''">
                build_Structure_Id=#{buildStructureId},
            </if>
            <if test="directionId!=null and directionId!=''">
                direction_Id=#{directionId},
            </if>
            <if test="decorationId!=null and decorationId!=''">
                decoration_Id=#{decorationId},
            </if>
            <if test="houseUseId!=null and houseUseId!=''">
                house_Use_Id=#{houseUseId},
            </if>
            <if test="elevatorRatio!=null and elevatorRatio!=''">
                elevator_Ratio=#{elevatorRatio},
            </if>
            <if test="listingDateString!=null and listingDateString!=''">
                listing_Date=#{listingDateString},
            </if>
            <if test="lastTradeDateString!=null and lastTradeDateString!=''">
                last_Trade_Date=#{lastTradeDateString},
            </if>
        </set>
        where id=#{id}
    </update>

    <update id="delete">
        update hse_house set
        is_deleted = 1
        where
        id = #{id}
    </update>

    <select id="findListPage" resultType="houseVo">
        select hh.*,hc.name communityName
        from hse_house hh left join hse_community hc
        on hh.community_id = hc.id
        <where>
            <if test="areaId!=null and areaId!=''">
                and area_Id=#{areaId}
            </if>
            <if test="plateId!=null and plateId!=''">
                and plate_Id=#{plateId}
            </if>
            <if test="keyword!=null and keyword!=''">
                and keyword like concat('%',#{keyword},'%')
            </if>
            <if test="houseTypeId!=null and houseTypeId!=''">
                and house_Type_Id=#{houseTypeId}
            </if>
            <if test="floorId!=null and floorId!=''">
                and floor_Id=#{floorId}
            </if>
            <if test="buildStructureId!=null and buildStructureId!=''">
                and build_Structure_Id=#{buildStructureId}
            </if>
            <if test="directionId!=null and directionId!=''">
                and direction_Id=#{directionId}
            </if>
            <if test="decorationId!=null and decorationId!=''">
                and decoration_Id=#{decorationId}
            </if>
            <if test="houseUseId!=null and houseUseId!=''">
                and house_Use_Id=#{houseUseId}
            </if>
            and status=1
            and hh.is_deleted=0
            and hc.is_deleted=0
        </where>
        <if test="defaultSort==1">
            order by hh.id desc
        </if>
        <if test="priceSort==1">
            order by hh.total_price desc
        </if>
        <if test="timeSort==1">
            order by hh.create_time desc
        </if>
    </select>
</mapper>